@charset "UTF-8";
:root {
  /*Background image*/
  --bg-img-day: url("../assets/mobile/bg-image-daytime.jpg");
  --bg-img-night: url("../assets/mobile/bg-image-nighttime.jpg");
  --clr-100: hsl(0, 0%, 100%);
  --clr-700: hsl(0, 0%, 19%);
  --clr-900: hsl(0, 0%, 0%, 0.75);
  /*Font sizes*/
  --fs-h1: 6.25rem;
  --fs-h2: 1.25rem;
  --fs-h3: 0.9375rem;
  --fs-h4: 0.9375rem;
  --fs-h5: 0.75rem;
  --fs-h6: 0.625rem;
  --fs-p: 0.875rem;
  --fs-utc: 0.9375rem;
  /*Line height*/
  --lh-h1: 1;
  --lh-h2: normal;
  --lh-h3: 1.75rem;
  --lh-h4: 1.5625rem;
  --lh-h5: 1.375rem;
  --lh-h6: 1.75rem;
  --lh-p: 1.375rem;
  /*Letter spacing*/
  --ls-h1: -2.5px;
  --ls-h2: normal;
  --ls-h3: 3px;
  --ls-h4: 3px;
  --ls-h5: normal;
  --ls-h6: 2px;
  /*utility spacer*/
  --spacer-left: 5%;
}

/*Breakpoints*/
@media screen and (width > 36rem) {
  :root {
    --fs-h5: 1.125rem;
    --lh-h5: 1.75rem;
    --fs-p: 1.125rem;
    --lh-p: 1.75rem;
    --fs-utc: 1.5rem;
  }
}
@media screen and (width > 48rem) {
  :root {
    --bg-img-day: url("../assets/tablet/bg-image-daytime.jpg");
    --bg-img-night: url("../assets/tablet/bg-image-nighttime.jpg");
    --fs-h1: 11rem;
    --fs-h2: 2.5rem;
    --fs-h3: 1.125rem;
    --fs-h4: 1.125rem;
    --fs-h6: 0.8125rem;
    --fs-utc: 2rem;
    --lh-h4: 1.75rem;
    --ls-h1: -4.375px;
    --ls-h3: 3.6px;
    --ls-h4: 3.6px;
    --ls-h6: 2px;
    --spacer-left: 8.33%;
  }
}
@media screen and (width > 75rem) {
  :root {
    --bg-img-day: url("../assets/desktop/bg-image-daytime.jpg");
    --bg-img-night: url("../assets/desktop/bg-image-nighttime-edit.jpg");
    --fs-h1: 12.5rem;
    --fs-h2: 3.5rem;
    --fs-h3: 1.5rem;
    --fs-h4: 1.25rem;
    --fs-h5: 1.125rem;
    --fs-h6: 0.9375rem;
    --fs-p: 1.125rem;
    --lh-h4: 1.75rem;
    --lh-h5: 1.75rem;
    --lh-p: 1.75rem;
    --ls-h1: -5px;
    --ls-h3: 4.8px;
    --ls-h4: 4px;
    --ls-h6: 3px;
    --fs-utc: 2.5rem;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  position: relative;
  font-family: "Inter", sans-serif;
  color: var(--clr-100);
  min-width: 375px;
  min-height: 667px;
}

main {
  display: grid;
  height: 100%;
  /*if it's daytime it applies --bg-img-day, if it's nightime applies --bg-img-night*/
  background-size: cover;
}
main.is-day {
  background-image: var(--bg-img-day);
}
main.is-night {
  background-image: var(--bg-img-night);
}

h1 {
  font-size: var(--fs-h1);
  letter-spacing: var(--ls-h1);
  line-height: var(--lh-h1);
}

h2 {
  font-size: var(--fs-h2);
  letter-spacing: var(--ls-h2);
  line-height: var(--lh-h2);
}

h3 {
  font-size: var(--fs-h3);
  letter-spacing: var(--ls-h3);
  line-height: var(--lh-h3);
}

h4 {
  font-size: var(--fs-h4);
  font-weight: 400;
  letter-spacing: var(--ls-h4);
  line-height: var(--lh-h4);
}

h5 {
  font-size: var(--fs-h5);
  letter-spacing: var(--ls-h5);
  line-height: var(--lh-h5);
}

h6 {
  font-size: var(--fs-h6);
  font-weight: 400;
  color: var(--clr-100);
  letter-spacing: var(--ls-h6);
  line-height: var(--lh-h6);
}

p {
  font-size: var(--fs-p);
  line-height: var(--lh-p);
}

.filter {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: hsla(0, 0%, 0%, 0.4);
}

:root:has(.is-night) .filter {
  display: none;
}

.quote {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 150px;
  margin: 2rem 5% 0 var(--spacer-left);
  z-index: 1;
  transition: 0.3s;
}
.quote.show {
  transform: translateY(0px);
}
.quote.hide {
  transform: translateY(-500px);
  position: absolute;
}
.quote div {
  display: flex;
}
.quote .btn-refresh {
  width: 17px;
  height: 17px;
  margin-top: 7px;
  margin-left: 1rem;
  flex-shrink: 0;
  padding: 0;
  border-style: none;
  cursor: pointer;
  background: none;
}
.quote .btn-refresh:hover {
  filter: opacity(0.6);
}
.quote h5 {
  margin-top: 0.5rem;
}

@media screen and (width > 48rem) {
  .quote {
    margin-top: 7%;
  }
  p {
    max-width: 80%;
  }
}
@media screen and (width > 75rem) {
  .btn-lessMore {
    margin-right: 11.25%;
  }
  p {
    max-width: 50%;
  }
}
.clock {
  display: grid;
  margin: 6.25rem 2.5rem 2.5rem var(--spacer-left);
  z-index: 1;
  align-items: end;
  /*Cambia el ícono según sea de dia o de noche*/
}
.clock > :first-child {
  display: flex;
}
.clock > :nth-child(2) {
  display: flex;
  justify-content: start;
  align-items: end;
  column-gap: 0.8125rem;
}
.clock .daytime-icon {
  width: 23.5px;
  height: 24px;
  background-repeat: no-repeat;
  margin-right: 1rem;
}
.clock .daytime-icon.is-day {
  background-image: url("../assets/desktop/icon-sun.svg");
}
.clock .daytime-icon.is-night {
  background-image: url("../assets/desktop/icon-moon.svg");
}
.clock .btn-lessMore {
  max-width: max-content;
  height: 47px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  padding: 3px 4px 4px 18px;
  margin-top: 2rem;
  border-radius: 1.5rem;
  border-style: none;
  color: var(--clr-700);
  cursor: pointer;
  font-family: inherit;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 3.75px;
}
.clock .btn-lessMore .arrow-icon {
  transition: 0.7s;
}
.clock .btn-lessMore:hover {
  filter: brightness(150%);
}
.clock .its-currently {
  display: none;
}
.clock .utc {
  padding-bottom: 10px;
  font-size: var(--fs-utc);
  text-align: center;
}

:root:has(.arrow-down) .arrow-icon {
  transition: 0.7s;
  transform: rotateZ(0.5turn);
}

@media screen and (width > 48rem) {
  .clock .its-currently {
    display: initial;
  }
  .clock .btn-lessMore {
    margin-top: 0;
  }
}
@media screen and (width > 75rem) {
  .clock {
    grid-template-rows: 0.5fr 2fr 0.5fr;
    grid-template-areas: "a" "b" "c";
  }
  .btn-lessMore {
    justify-self: end;
    align-self: center;
    grid-area: c;
  }
  .city-country {
    grid-area: c;
    align-self: center;
  }
}
.modal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "a b" "c d" "e f" "g h";
  row-gap: 1rem;
  padding: 3rem 5% 3rem var(--spacer-left);
  background-color: var(--clr-900);
  backdrop-filter: blur(20.387px);
  z-index: 1;
}
.modal.show {
  display: grid;
}
.modal.hide {
  display: none;
}
.modal h2 {
  text-align: right;
}

.modal-grid-area__1 {
  grid-area: a;
}

.modal-grid-area__2 {
  grid-area: b;
}

.modal-grid-area__3 {
  grid-area: c;
}

.modal-grid-area__4 {
  grid-area: d;
}

.modal-grid-area__5 {
  grid-area: e;
}

.modal-grid-area__6 {
  grid-area: f;
}

.modal-grid-area__7 {
  grid-area: g;
}

.modal-grid-area__8 {
  grid-area: h;
}

:root:has(.is-day) .modal {
  background-color: hsla(0, 0%, 100%, 0.75);
}
:root:has(.is-day) .modal h2 {
  color: var(--clr-900);
}
:root:has(.is-day) .modal h6 {
  color: var(--clr-700);
}

@media screen and (width > 36rem) {
  .modal {
    grid-template-areas: "a e" "b f" "c g" "d h";
    grid-template-columns: 55% 40%;
    row-gap: 0;
    column-gap: 2rem;
    justify-items: left;
  }
  .modal h6 {
    align-self: self-end;
  }
}
@media screen and (width > 48rem) {
  .modal {
    column-gap: 3rem;
  }
}

/*# sourceMappingURL=styles.css.map */
