.clock {
    display: grid;
    row-gap: 1rem;
    position: relative;
    bottom: 2.5rem;
    margin: 6.25rem 2.5rem 0 var(--margin-left);
    z-index: 1;

    >:first-child {
        display: flex;
    }

    >:nth-child(2) {
        display: flex;
        justify-content: start;
        align-items: end;
        column-gap: 0.8125rem;
    }

    /*Cambia el ícono según sea de dia o de noche*/
    .daytime-icon {
        width: 23.5px;
        height: 24px;
        background-repeat: no-repeat;
        margin-right: 1rem;

        &.is-day {
            background-image: url('../assets/desktop/icon-sun.svg');
        }

        &.is-night {
            background-image: url('../assets/desktop/icon-moon.svg');
        }
    }

    .btn-lessMore {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.8125rem;
        padding: 3px 4px 4px 18px;
        margin-top: 3rem;
        border-radius: 1.5rem;
        border-style: none;
        color: var(--clr-700);
        cursor: pointer;
        font-family: inherit;
        font-size: 0.75rem;
        font-weight: 700;
        letter-spacing: 3.75px;

        .arrow-icon {
            transition: 0.7s;
        }
    }

    .its-currently {
        display: none;
    }

    .utc {
        padding-bottom: 10px;
        font-size: 0.9375rem;
        text-align: center;
    }

    @media screen and (width > $break-m) {
        .its-currently {
            display: initial;
        }
    }

    @media screen and (width > $break-l) {
        .wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

        .btn-lessMore {
            margin-top: 0;
        }
    }
}

:root:has(.arrow-down) {
    .arrow-icon {
        transition: 0.7s;
        transform: rotateZ(0.5turn);
    }
}
