.clock {
    display: grid;
    grid-template-columns: auto;
    position: relative;
    bottom: 2.5rem;
    margin: 6.25rem 2.5rem 0 var(--spacer-left);
    z-index: 1;
    align-items: end;

    >:first-child {
        display: flex;
    }

    >:nth-child(2) {
        display: flex;
        justify-content: start;
        align-items: end;
        column-gap: 0.8125rem;
    }

    /*Cambia el ícono según sea de dia o de noche*/
    .daytime-icon {
        width: 23.5px;
        height: 24px;
        background-repeat: no-repeat;
        margin-right: 1rem;

        &.is-day {
            background-image: url('../assets/desktop/icon-sun.svg');
        }

        &.is-night {
            background-image: url('../assets/desktop/icon-moon.svg');
        }
    }

    .btn-lessMore {
        width: 125px;
        height: 47px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.8125rem;
        padding: 3px 4px 4px 18px;
        margin-top: 2rem;            
        border-radius: 1.5rem;
        border-style: none;
        color: var(--clr-700);
        cursor: pointer;
        font-family: inherit;
        font-size: 0.75rem;
        font-weight: 700;
        letter-spacing: 3.75px;
       
        .arrow-icon {
            transition: 0.7s;
        }
    }

    .its-currently {
        display: none;
    }

    .utc {
        padding-bottom: 10px;
        font-size: var(--fs-p);
        text-align: center;
    }

}

:root:has(.arrow-down) {
    .arrow-icon {
        transition: 0.7s;
        transform: rotateZ(0.5turn);
    }
}

@media screen and (width > $break-m) {
    .clock {

        .its-currently {
            display: initial;
        }
    
        .btn-lessMore {
            margin-top: 0;
        }
    }
}

@media screen and (width > $break-l) {
    .clock {
        grid-template-rows: 0.5fr 2fr 0.5fr;
        grid-template-areas:"a"
                            "b"
                            "c";
    }

    .btn-lessMore {
        justify-self: end;
        align-self: center;
        grid-area: c;
    }

    .city-country {
        grid-area: c;
        align-self: center;
    }
}