.modal {
    display: grid;
    row-gap: 1rem;
    // grid-template-columns: 1fr 1fr;

    padding: 3rem 1.5rem 3rem 1.5rem;
    background-color: $clr-900;

    >div {
        display: flex;
        justify-content: space-between;
    }

    h5 {
        font-size: 1.25rem;
    }

    h6 {
        font-size: 0.625rem;
        font-weight: 400;
        color: $clr-100;
        letter-spacing: 2px;
        line-height: 28px;
    }
}