.modal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "a b"
        "c d"
        "e f"
        "g h";
    row-gap: 1rem;
    padding: 3rem 5% 3rem var(--spacer-left);
    background-color: var(--clr-900);
    backdrop-filter: blur(20.387px);
    z-index: 1;

    transition: 0.3s;

    &.show {
        transform: translateY(0px);
    }

    &.hide {
        visibility: hidden;
        transform: translateY(800px);
        position: absolute;
        bottom: 0;
    }

    h2 {
        text-align: right;
    }
}

.modal-grid-area__1 {
    grid-area: a;
}

.modal-grid-area__2 {
    grid-area: b;
}

.modal-grid-area__3 {
    grid-area: c;
}

.modal-grid-area__4 {
    grid-area: d;
}

.modal-grid-area__5 {
    grid-area: e;
}

.modal-grid-area__6 {
    grid-area: f;
}

.modal-grid-area__7 {
    grid-area: g;
}

.modal-grid-area__8 {
    grid-area: h;
}


:root:has(.is-day) {

    .modal {
        background-color: hsla(0, 0%, 100%, 0.75);

        h2 {
            color: var(--clr-900);
        }

        h6 {
            color: var(--clr-700);
        }
    }
}


@media screen and (width > $break-s) {
    .modal {
        grid-template-areas:
        "a e"
        "b f"
        "c g"
        "d h";
        grid-template-columns: 55% 40%;
        row-gap: 0;
        column-gap: 2rem;
        justify-items: left;
        
        h6 {
            align-self: self-end;
        }
    }
}       

@media screen and (width > $break-m) {
    .modal {
        column-gap: 3rem;
    }
}