.quote {
    display: grid;
    // grid-template-columns: 1fr 18px;
    grid-template-rows: auto 1fr;
    // column-gap: 1rem;
    height: 150px;
    margin: 2rem 5% 0 var(--spacer-left);
    z-index: 1;
    transition: 0.3s;

    &.show {   
            transform: translateY(0px);
        }
        
    &.hide {
        transform: translateY(-500px);
        position: absolute;
    }

    div {
        display: flex;
    }

    .btn-refresh{
        width: 17px;
        height: 17px;
        margin-top: 7px;
        margin-left: 1rem;
        flex-shrink: 0;
        padding: 0;
        border-style: none;
        cursor: pointer;
        background: none;
    }

    h5 {
        margin-top: 0.5rem;
    }
}

@media screen and (width > $break-m){
    .quote {
        margin-top: 7%;
    }

    p {
        max-width: 80%;
    }
}

@media screen and (width > $break-l){
    .btn-lessMore {
        margin-right: 11.25%;
    }
    
    p {
        max-width: 50%;
    }
}