body {
    font-family: 'Inter', sans-serif;   
    color: var(--clr-100);
    overflow: hidden; //it helps to hide the modal
}

main {
    display: grid;
    height: 100vh;

    /*if it's daytime it applies --bg-img-day, if it's nightime applies --bg-img-night*/
    &.is-day {
        background-image: var(--bg-img-day);
    }

    &.is-night {
        background-image: var(--bg-img-night);
    }

    background-size: cover;
}

h1 {
    font-size: var(--fs-h1);
    letter-spacing: var(--ls-h1);
    line-height: var(--lh-h1);
}

h2 {
    font-size: var(--fs-h2);
    letter-spacing: var(--ls-h2);
    line-height: var(--lh-h2);
}

h3 {
    font-size: var(--fs-h3);
    letter-spacing: var(--ls-h3);
    line-height: var(--lh-h3);
}

h4 {
    font-size: var(--fs-h4);
    font-weight: 400;
    letter-spacing: var(--ls-h4);
    line-height: var(--lh-h4);
}

h5 {
    font-size: var(--fs-h5);
    letter-spacing: var(--ls-h5);
    line-height: var(--lh-h5);
}

h6 {
    font-size: var(--fs-h6);
    font-weight: 400;
    color: var(--clr-100);
    letter-spacing: var(--ls-h6);
    line-height: var(--lh-h6);
}

p {
    font-size: var(--fs-p);
    line-height: var(--lh-p);
}


//it's used as a layer over the day background image to give it 
.filter {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: hsl(0, 0%, 0%, 0.4);
}

:root:has(.is-night) {
    .filter {
        display: none;
    }
}